* {
    background-color: #e1e1c7;
    font-family: 'Courier New', Courier, monospace;
}

.recipe-link, .heading {
  text-align: center;
}

.recipe-link {
    font-size: 20px;
}

.heading {
    font-size: 80px;
}

img {
  width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

ul {
  display: inline-block;
  text-align: left;
}

a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }